Auther: Elior Buskila

ID: 205493323

# <ins><center>Second Notebook</center></ins>

## Programming Exercises

### Q1

- Write a program in Python that gets a number in base 10 and prints the number in all the other bases (base 2, base 8 and base 16).

In [17]:
def deciamlToOtherBases(origin): 
    def toLetter(num):
        if (num >= 0 and num <= 9): 
            return chr(num + ord('0')); 
        else: 
            return chr(num - 10 + ord('A')); 
    
    base = [2,8,16];
    res = ["","",""];
    
    for i in range(len(base)):
        num = origin;
        while (num > 0): 
            res[i] = toLetter(num % base[i]) + res[i]; 
            num = int(num / base[i]);
    
    print(f"""
        The representation of {origin} for bases:
        binary - {res[0]}
        Octal - {res[1]}
        hexadeciaml - {res[2]}
        """);

In [18]:
## deciamlToOtherBases Test:
deciamlToOtherBases(98797703254523);

        The representation of 98797703254523 for bases:
        binary - 10110011101101100100010000000011101000111111011
        Octal - 2635544200350773
        hexadeciaml - 59DB2201D1FB

### Q2

- Load the DATASET to the notebook and answer the following questions:

In [21]:
import pandas as pd
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN