Auther: Elior Buskila

ID: 205493323

# <ins><center>Second Notebook</center></ins>

## Programming Exercises

### Q1

- Write a program in Python that gets a number in base 10 and prints the number in all the other bases (base 2, base 8 and base 16).

In [109]:
def deciamlToOtherBases(origin): 
    def toLetter(num):
        if (num >= 0 and num <= 9): 
            return chr(num + ord('0')); 
        else: 
            return chr(num - 10 + ord('A')); 
    
    base = [2,8,16];
    res = ["","",""];
    
    for i in range(len(base)):
        num = origin;
        while (num > 0): 
            res[i] = toLetter(num % base[i]) + res[i]; 
            num = int(num / base[i]);
    
    print(f"""
        The representation of {origin} for bases:
        binary - {res[0]}
        Octal - {res[1]}
        hexadeciaml - {res[2]}
        """);

In [110]:
## deciamlToOtherBases Test:
deciamlToOtherBases(98797703254523);

        The representation of 98797703254523 for bases:
        binary - 10110011101101100100010000000011101000111111011
        Octal - 2635544200350773
        hexadeciaml - 59DB2201D1FB

### Q2

- Load the DATASET to the notebook and answer the following questions:

In [111]:
import pandas as pd
cast = pd.read_csv('data/cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### Q2.1

- How many movies have the title "Hamlet"?

In [112]:
len(cast[cast.title == "Hamlet"])

299

### Q2.2

- List all of the "Treasure Island" movies from earliest to most recent.

In [113]:
cast[cast.title == "Treasure Island"].sort_values(by='year')

,title,year,name,type,character,n
1312766,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
3280557,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3046750,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1167783,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1195421,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
...,...,...,...,...,...,...
1663860,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
1731182,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
1813707,Treasure Island,1999,Richard Schave,actor,Man,21.0
2710458,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
815338,Treasure Island,1999,Rio Hackford,actor,Hans,23.0

### Q2.3

- How many roles were credited in the silent 1921 version of Hamlet?

In [114]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1921)])

9

### Q2.4

- Use groupby() to plot the number of "Hamlet" films made each decade

In [115]:
hamlets = cast[cast.title == "Hamlet"];
hamlets.groupby(hamlets.year // 10 * 10).size()

year
1910    28
1920     9
1940    25
1950     1
1960    57
1970    19
1980     3
1990    84
2000    55
2010    18
dtype: int64

### Q2.5

- How many leading (n=1) roles were available to actors, and how many to
actresses, in each year of the 1950s?

In [116]:
leading = cast[cast.year // 10 == 195]
leading = leading[leading.n == 1]
leading.groupby(['year', 'type']).size()

year  type
1950  actor      604
      actress    271
1951  actor      633
      actress    272
1952  actor      591
      actress    284
1953  actor      634
      actress    290
1954  actor      626
      actress    298
1955  actor      606
      actress    264
1956  actor      614
      actress    288
1957  actor      708
      actress    284
1958  actor      694
      actress    275
1959  actor      678
      actress    287
dtype: int64

### Q2.6

- List the 10 actors/actresses that have the most leading roles (n=1) since the 1990's.

In [117]:
top = cast[(cast.n == 1) & (cast.year >= 1990)]
top = top.groupby(['name']).size().sort_values(ascending=False)
top.head(10)

name
Mohanlal              126
Mammootty             118
Akshay Kumar           87
Jayaram                76
Andy Lau               72
Ajay Devgn             69
Eric Roberts           68
Amitabh Bachchan       68
Nagarjuna Akkineni     60
Dilip                  59
dtype: int64

### Q2.7

- List, in order by year, each of the films in which Frank Oz has played more than 1 role

In [118]:
franks = cast[cast.name == 'Frank Oz']
franks = franks.groupby(['year','title']).size()
franks[franks > 1]

year  title
1979  The Muppet Movie                            8
1981  An American Werewolf in London              2
      The Great Muppet Caper                      6
1982  The Dark Crystal                            2
1984  The Muppets Take Manhattan                  7
1985  Sesame Street Presents: Follow that Bird    3
1992  The Muppet Christmas Carol                  7
1996  Muppet Treasure Island                      4
1999  Muppets from Space                          4
      The Adventures of Elmo in Grouchland        3
dtype: int64